/*Fonts*/
@font-face {
  font-family: "fs_lola_light";
  src: url("../fonts/fs_lola-light.eot");
  src: url("../fonts/fs_lola-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fs_lola-light.woff") format("woff"),
    url("../fonts/fs_lola-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_lola_regular";
  src: url("../fonts/fs_lola-regular.eot");
  src: url("../fonts/fs_lola-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fs_lola-regular.woff") format("woff"),
    url("../fonts/fs_lola-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_lola_medium";
  src: url("../fonts/fs_lola-medium.eot");
  src: url("../fonts/fs_lola-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fs_lola-medium.woff") format("woff"),
    url("../fonts/fs_lola-medium.ttf") format("truetype"),
    url("../fonts/fs_lola-medium.svg#fs_lolaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_lola_bold";
  src: url("../fonts/fs_lola-bold.eot");
  src: url("../fonts/fs_lola-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fs_lola-bold.woff") format("woff"),
    url("../fonts/fs_lola-bold.ttf") format("truetype"),
    url("../fonts/fs_lola-bold.svg#fs_lolabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* main styles */

html {
  font-size: 16px;
  line-height: 20px;
  font-family: "fs_lola_light";
}

body {
  padding: 0px;
  margin: 0px;
}

strong {
  font-family: "fs_lola_bold";
}

* {
  margin: 0px;
  padding: 0px;
}

.page-wrapper {
  width: 100%;
  float: left;
}

.page-container {
  width: 1130px;
  margin: 0 auto;
}

.page-content {
  width: 100%;
  float: left;
}

.button-container {
  text-align: center;
}

.button-container a {
  text-decoration: none;
  display: inline-block;
  width: 262px;
  height: 68px;
  background: url("../img/button.png") center center no-repeat;
}

.button-container a:hover {
  background: url("../img/button-hover.png") center center no-repeat;
}

.button-container a.button-1217 {
  display: none;
}

.button-container a.button-18more {
  display: none;
}

.button-container a.button-1217.show-button {
  display: inline-block;
}

.button-container a.button-18more.show-button {
  display: inline-block;
}

.arrow-box {
  position: absolute;
  width: 58px;
  height: 58px;
  background: #ffffff url("../img/arrow-blue.png") top 22px center no-repeat;
  border: 1px solid #000000;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  z-index: 100;
  left: calc(50% - 30px);
  transition: all 0.3s;
}

.arrow-box.to-top {
  background: #ffffff url("../img/arrow-blue-top.png") bottom 22px center
    no-repeat;
  top: 0px;
  bottom: auto !important;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.arrow-box:hover {
  background: #ffffff url("../img/arrow-blue.png") top 28px center no-repeat;
}

.arrow-box.to-top:hover {
  background: #ffffff url("../img/arrow-blue-top.png") bottom 26px center
    no-repeat;
  /* bottom: 35px!important; */
}

.arrow-box.middle {
  bottom: 40px;
}

.arrow-box.arrow-top {
  top: -30px;
}

.arrow-box.arrow-top:hover {
  top: -25px;
}

.arrow-box.middle:hover {
  bottom: 35px;
}

.arrow-box.middle.to-top:hover {
  bottom: 45px;
}

.lp-section {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0px !important;
  text-align: center;
}

.arrow-box.slide-faq-section {
  top: -30px !important;
}

.arrow-box.slide-faq-section:hover {
  top: -25px !important;
}

/* header */

header {
  width: 100%;
  float: left;
  background: url("../img/bg-new.jpg") center center no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.head-logo {
  width: 50%;
  float: left;
}

header .head-logo .logo-img {
  margin-top: 18px;
}

.head-ages {
  width: 50%;
  float: right;
  text-align: right;
  padding-top: 30px;
}

.head-ages span {
  float: right;
  height: 46px;
  line-height: 46px;
  font-family: fs_lola_medium;
  font-szie: 0.875rem;
  color: #ffffff;
  padding-right: 20px;
}

.head-ages span.desktop-sp {
  display: block;
}

.head-ages span.mobile-sp {
  display: none;
}

.head-ages ul {
  float: right;
  height: 46px;
  background: #d5d8dd;
  color: #ffffff;
  list-style: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  font-family: fs_lola_light;
}

.head-ages ul li {
  float: left;
  line-height: 46px;
  cursor: pointer;
}

.head-ages ul li a {
  text-decoration: none;
  color: #ffffff;
  float: left;
  line-height: 46px;
  padding: 0 10px;
}

.head-ages ul li a.active-age {
  background: #ff06b7;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  text-decoration: none;
}

.head-ages ul li:first-child a {
  padding-right: 20px;
}

.head-ages ul li:last-child a {
  padding-left: 20px;
}

.header-description {
  width: 100%;
  float: left;
  padding-top: 90px;
}

.header-description .header-desc-rows {
  height: 60px;
  line-height: 60px;
  font-size: 2.2rem;
  padding-left: 20%;
  padding-right: 80px;
  font-family: fs_lola_bold;
  color: #ffffff;
  width: auto;
  float: left;
}

.header-description .header-desc-container {
  width: 100%;
  float: left;
}

.header-description .header-desc-row1 {
  background: #00ff00;
}

.header-description .header-desc-row2 {
  background: #0000ff;
}

.header-description .header-desc-row3 {
  background: #ff06b7;
}

.button-container.top {
  padding-top: 60px;
  text-align: left;
}

.najlepiej-content {
  position: absolute;
  right: 15%;
  top: 73%;
}

/* main content */

section {
  width: 100%;
  float: left;
  padding: 100px 0;
  position: relative;
}

section h2 {
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 50px;
  font-family: fs_lola_light;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

section h2 b {
  font-family: fs_lola_bold;
}

#content-13-17 {
  display: none;
}

#content-13-17.active-age-content {
  display: block;
}

.section1-1317 {
  width: 100%;
  float: left;
  background-color: #fcbeed;
}

.section1-1317 ul {
  width: 100%;
  float: left;
  list-style: none;
  text-align: center;
  padding: 40px 0;
}

.section1-1317 ul.first-list-1317 {
  padding-top: 0;
}

.section1-1317 ul li {
  width: 31%;
  height: 90px;
  vertical-align: middle;
  padding-right: 2%;
  display: inline-block;
  text-align: left;
}

.section1-1317 ul.second-list-1317 li {
  width: 35%;
}

.section1-1317 ul li img {
  float: left;
  margin-right: 25px;
}

.section1-1317 ul li p {
  height: 90px;
  display: table-cell;
  vertical-align: middle;
  font-family: fs_lola_light;
  font-size: 0.875rem;
}

.section1-1317-sep1 {
  width: 100%;
  float: left;
}

.section1-1317-sep1 img {
  width: 100%;
  height: auto;
}

.section2-1317 {
  background: #c2d5ff;
}

.section2-1317 h2 {
  padding-bottom: 0;
}

.section2-1317 h3 {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.1rem;
  font-family: fs_lola_light;
  color: #ff06b7;
}

.null-container {
  width: 90%;
  float: left;
  margin: 0 auto;
}

.null-content {
  float: left;
  width: 180px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.null-description {
  float: left;
  width: calc(100% - 220px);
}

.null-description span {
  width: 100%;
  float: left;
  line-height: 0.8rem;
  margin-bottom: 25px;
}

.null-description span br {
  display: none;
}

.null-description span.line1 {
  padding-left: 124px;
  background: url("../img/line1.png") left no-repeat;
  width: calc(100% - 124px);
}

.null-description span.line2 {
  padding-left: 164px;
  background: url("../img/line2.png") left no-repeat;
  width: calc(100% - 164px);
}

.null-description span.line3 {
  padding-left: 204px;
  background: url("../img/line3.png") left no-repeat;
  width: calc(100% - 204px);
}

.null-description span.line4 {
  padding-left: 244px;
  background: url("../img/line4.png") left no-repeat;
  width: calc(100% - 244px);
}

.null-description span.line5 {
  padding-left: 283px;
  background: url("../img/line5.png") left no-repeat;
  width: calc(100% - 283px);
}

.null-link {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.null-link a {
  text-decoration: none;
  color: #000000;
  font-family: fs_lola_medium;
  position: relative;
}

.null-link a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.null-link a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section3-1317 {
  background: #f8f8f8;
}

.section3-1317 ul {
  width: 100%;
  float: left;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

.section3-1317 ul li {
  display: inline-block;
  padding: 0 80px;
  width: calc(33% - 160px);
  border-right: 1px solid rgba(82, 84, 85, 0.5);
  min-height: 210px;
  vertical-align: top;
  text-align: center;
}

.section3-1317 ul li:last-child {
  border: none;
}

.section3-1317 ul li p {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  fonts-size: 1rem;
}

.section3-added-content {
  width: 100%;
  float: left;
  padding: 100px 0 0 0;
}

.section3-added-content h4 {
  width: 100%;
  float: left;
  text-align: center;
  color: #201c17;
  font-family: fs_lola_bold;
  font-size: 2rem;
  padding-bottom: 40px;
}

.section3-1317-sep2 {
  width: 100%;
  float: left;
}

.section3-1317-sep2 img {
  width: 100%;
  height: auto;
}

.section3-added-content-list {
  width: 100%;
  float: left;
}

.section3-added-content-list ul {
  width: 100%;
  float: left;
  list-style: none;
  padding-bottom: 25px;
  text-align: center;
}

.section3-added-content-list ul li {
  width: calc(34% - 95px);
  padding: 0 30px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.section3-added-content-list ul li.section3-added-content-list-arrow {
  width: 50px;
  padding: 40px 0 0 0;
}

.section3-added-content-list ul li p {
  width: 100%;
  float: left;
  padding-top: 30px;
  color: #201c17;
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 25px;
}

.section3-added-content-list ul li h3 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
}

.section3-added-content-list ul li:first-child {
  padding-left: 0;
  width: calc(30% - 95px);
}

.section3-added-content-list ul li:last-child {
  padding-right: 0;
  width: calc(35% - 95px);
}

.section3-added-content-list ul li p span {
  font-family: fs_lola_bold;
  color: #0000ff;
}

.section3-added-content-list2 {
  width: 100%;
  float: left;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}

.section3-added-content-list2 span {
  color: #0000ff;
  font-weight: bold;
  font-family: fs_lola_bold;
}

.section3-added-content-list-example {
  width: 100%;
  float: left;
  padding-bottom: 30px;
}

.section3-added-content-bottom {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 20px;
  font-size: 0.8rem;
  color: #201c17;
  font-family: fs_lola_light;
}

.section3-added-content-bottom p {
  padding-bottom: 15px;
}

.section3-added-content-bottom a {
  color: #201c17;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
}

.section3-added-content-bottom a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #201c17;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.section3-added-content-bottom a:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.section3-18more-sep2 {
  width: 100%;
  float: left;
}

.section3-18more-sep2 img {
  max-width: 100%;
}

#content-18-more {
  display: none;
}

#content-18-more.active-age-content {
  display: block;
}

.section1-18more ul {
  width: 100%;
  float: left;
  list-style: none;
  text-align: center;
  padding: 40px 0;
}

.section1-18more ul li {
  width: 40%;
  height: 107px;
  vertical-align: middle;
  padding-right: 2%;
  display: inline-block;
  text-align: left;
}

.section1-18more ul li:last-child {
  padding-right: 0;
  width: 45%;
}

.section1-18more ul.first-list-18more {
  padding-top: 0;
}

.section1-18more ul li img {
  float: left;
  margin-right: 25px;
}

.section1-18more ul li p {
  height: 107px;
  display: table-cell;
  vertical-align: middle;
  font-family: fs_lola_light;
  font-size: 1rem;
  line-height: 1.4rem;
}

.section1-18more-sep1 {
  width: 100%;
  float: left;
}

.section1-18more-sep1 img {
  width: 100%;
  height: auto;
}

.section2-18more {
  background: #f8f8f8;
}

.section2-18more h2 {
  padding-bottom: 0;
}

.section2-18more h3 {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.1rem;
  font-family: fs_lola_light;
  color: #ff06b7;
}

.section3-18more {
  background: #fcbeed top 60px right no-repeat;
}

.button-container.pink-button {
  float: left;
  margin-left: 20%;
}

.section3-18more-description {
  width: 100%;
  float: left;
  padding-bottom: 70px;
}

.section3-18more-description .section3-18more-desc-rows {
  height: 60px;
  line-height: 60px;
  font-size: 2.1875rem;
  padding-left: 20%;
  padding-right: 120px;
  font-family: fs_lola_bold;
  color: #ffffff;
  width: auto;
  float: left;
}

.section3-18more-description .section3-18more-desc-container {
  width: 100%;
  float: left;
}

.section3-18more-description .section3-18more-desc-row1 {
  background: #00ff00;
}

.section3-18more-description .section3-18more-desc-row2 {
  background: #0000ff;
}

.section3-18more-description .section3-18more-desc-row3 {
  background: #ff06b7;
}
.section4-18more {
  background: #f8f8f8;
}
.section4-18more ul {
  width: 100%;
  float: left;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
}

.section4-18more ul li {
  display: inline-block;
  padding: 0 80px;
  width: calc(33% - 160px);
  border-right: 1px solid rgba(82, 84, 85, 0.5);
  min-height: 210px;
  vertical-align: top;
  text-align: center;
}

.section4-18more ul li:last-child {
  border: none;
}

.section4-18more ul li p {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  fonts-size: 1rem;
}

.section5-18more {
  background: #ffffff;
}

.section5-18more .faq-position {
  border-bottom: none;
}
#faqquestion_7 {
  line-height: 30px;
}
.faq-position.active-p#faqposition_7 h3 {
  font-family: fs_lola_light !important;
}
.faq-position#faqposition_7 h3 {
  font-family: fs_lola_light !important;
}
.faq-position#faqposition_7 h3 {
  max-width: 90%;
}
.faq-position.active-p#faqposition_7 {
  margin-bottom: 20px;
}
.section5-18more ul {
  width: 100%;
  float: left;
  list-style: none;
}

.section5-18more ul li {
  width: 80%;
  float: left;
  padding: 0 10% 70px 10%;
}

.section5-18more ul li .section5-list-img {
  width: 146px;
  padding-right: 70px;
  float: left;
}

.section5-18more ul li .section5-list-text {
  width: calc(100% - 216px);
  float: left;
}

.section5-18more ul li .section5-list-text h3 {
  width: 100%;
  float: left;
  font-family: fs_lola_bold;
  color: #201c17;
  font-size: 1.9rem;
  padding-bottom: 25px;
}

.section5-18more ul li .section5-list-text p {
  width: 100%;
  float: left;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #201c17;
  font-family: fs_lola_light;
}

.faq-section {
  width: 100%;
  float: left;
  position: relative;
}

.faq-position {
  width: 90%;
  float: left;
  padding: 25px 5%;
  border-bottom: 1px solid #979797;
  margin-bottom: 5px;
}

.faq-question {
  width: calc(100% - 80px);
  padding: 0 40px 0 40px;
  float: left;
  /*background: url('../img/oval.png') left center no-repeat;*/
  font-size: 20px;
  color: #201c17;
  position: relative;
  line-height: 17px;
  cursor: pointer;
  font-family: fs_lola_light;
}

.faq-question br {
  display: none;
}

.faq-position.active-p {
  border: 1px solid rgba(82, 84, 85, 0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #f8f8f8;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.faq-question-arrow {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  margin-right: 40px;
}

.faq-question.active-q {
  font-family: fs_lola_medium;
}

.faq-question.active-q .faq-question-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  float: left;
  width: calc(100% - 80px);
  padding: 20px 40px 0 40px;
  color: #201c17;
  font-family: fs_lola_light;
  font-size: 1.125rem;
}

.faq-answer a {
  font-family: fs_lola_bold;
  color: #00f;
  text-decoration: none;
  position: relative;
}

.faq-answer a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00f;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.faq-answer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* footer */

.footer-nav {
  width: 100%;
  float: left;
  background: #d8d8d8;
  padding: 40px 0 20px;
  position: relative;
}

.footer-nav ul {
  width: 100%;
  float: left;
  list-style: none;
}

.footer-nav ul li {
  display: inline-block;
  padding-right: 10px;
}

.footer-nav ul li a {
  color: #201c17;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: fs_lola_medium;
  position: relative;
}

.footer-nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #201c17;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.footer-nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  width: 100%;
  float: left;
  padding: 30px 0;
  background: #f8f8f8;
}

footer p {
  width: 100%;
  float: left;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #201c17;
  text-align: justify;
}

footer p a {
  text-decoration: none;
  color: #201c17;
  position: relative;
}

footer p a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #201c17;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

footer p a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* choice page */

#choice-page {
  position: relative;
  overflow: hidden;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 28, 23, 0.7);
  z-index: 999;
  text-align: center;
}

.popup-choice {
  margin: 7% 0 0 0;
  background: #ffffff;
  width: 560px;
  padding: 100px 70px;
  text-align: center;
  display: inline-block;
}

.popup-choice-inside {
  width: 100%;
  float: left;
}

.popup-choice-inside h3 {
  width: 100%;
  float: left;
  font-family: fs_lola_light;
  padding-bottom: 45px;
  font-size: 28px;
  line-height: 34px;
}
.popup-choice-inside h3 b {
  font-family: fs_lola_medium;
}

.btns-container {
  width: 100%;
  float: left;
  text-align: center;
}

.btns-container a {
  display: inline-block;
  text-decoration: none;
  width: 216px;
  height: 55px;
}

.choice-btn1 {
  width: 216px;
  height: 55px;
  background: url("../img/choice-btn1.png") center center no-repeat;
  margin-right: 60px;
}

.choice-btn1:hover {
  background: url("../img/choice-btn1-hover.png") center center no-repeat;
}

.choice-btn2 {
  background: url("../img/choice-btn2.png") center center no-repeat;
}

.choice-btn2:hover {
  background: url("../img/choice-btn2-hover.png") center center no-repeat;
}

/* color box */

.color-box {
  width: 544px;
  margin: 0 auto;
  background: url("../img/color-bg.png") center center no-repeat;
  min-height: 285px;
  position: relative;
}

.color-box .first-word {
  position: absolute;
  top: 24px;
  left: 28px;
  color: #ffffff;
  font-size: 3.125rem;
  line-height: 3.125rem;
  font-family: fs_lola_light;
}

.color-box .people-number {
  position: absolute;
  bottom: 10px;
  right: 90px;
  color: #ffffff;
  font-size: 12.5rem;
  line-height: 12.5rem;
  font-family: fs_lola_bold;
}

.color-box-bottom-text {
  width: 100%;
  float: left;
  color: #0000ff;
  font-family: fs_lola_light;
  font-size: 3.125rem;
  line-height: 3.125rem;
  position: relative;
  text-align: right;
  right: 100px;
  padding-top: 10px;
}

@media (max-width: 810px) {
  .color-box-bottom-text {
    right: 0;
  }
}

@media (max-width: 700px) {
  .color-box-bottom-text {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}

@media (max-width: 560px) {
  .color-box {
    width: 100%;
    background-size: 100%;
  }
}

@media (max-width: 520px) {
  .color-box .first-word {
    font-size: 2.6rem;
    line-height: 2.6rem;
    top: 32px;
  }
  .color-box .people-number {
    font-size: 9rem;
    line-height: 9rem;
    bottom: 40px;
    right: 123px;
  }
  .color-box-bottom-text {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 470px) {
  .color-box {
    min-height: 250px;
  }
  .color-box .first-word {
    top: 21px;
  }
  .color-box .people-number {
    right: 100px;
    bottom: 25px;
  }
}

@media (max-width: 440px) {
  .color-box {
    min-height: 220px;
  }
  .color-box .first-word {
    top: 16px;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .color-box .people-number {
    right: 111px;
    bottom: 26px;
    font-size: 7rem;
    line-height: 7rem;
  }
  .color-box-bottom-text {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 410px) {
  .color-box .first-word {
    top: 23px;
  }
  .color-box .people-number {
    right: 95px;
  }
}

@media (max-width: 380px) {
  .color-box {
    min-height: 190px;
  }
  .color-box .first-word {
    font-size: 2rem;
    line-height: 2rem;
    top: 13px;
    left: 44px;
  }
  .color-box .people-number {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media (max-width: 360px) {
  .color-box .people-number {
    right: 90px;
  }
  .color-box .first-word {
    top: 17px;
  }
}

@media (max-width: 340px) {
  .color-box .first-word {
    top: 20px;
  }
  .color-box .people-number {
    right: 76px;
  }
}

@media (max-width: 700px) {
  .popup-choice {
    width: 80%;
    padding: 60px 5%;
    margin: 15% 5% 0 5%;
  }
}

@media (max-width: 640px) {
  .popup-choice-inside h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 619px) {
  .btns-container a {
    margin: 0 30px;
  }
  .choice-btn1 {
    margin-bottom: 20px !important;
  }
  .popup-choice-inside h3 br {
    display: none;
  }
}

@media (max-width: 340px) {
  .btns-container a {
    margin: 0;
  }
}

/* RWD */

@media (max-width: 1750px) {
  .header-description .header-desc-rows {
    padding-left: 17%;
    font-size: 2rem;
  }
  .najlepiej-content img {
    max-width: 80%;
  }
}

@media (max-width: 1550px) {
  .header-description .header-desc-rows {
    padding-left: 14%;
  }
  .najlepiej-content {
    right: 7%;
  }
}

@media (max-width: 1350px) {
  .header-description .header-desc-rows {
    padding-left: 8%;
  }
  .najlepiej-content {
    right: 2%;
  }
}

@media (max-width: 1290px) {
  .section3-18more-description .section3-18more-desc-rows {
    padding-left: 10%;
    padding-right: 40px;
  }
}

@media (max-width: 1130px) {
  .page-container {
    width: 96%;
    float: left;
    padding: 0 2%;
  }
  .header-description .header-desc-rows {
    padding-left: 30px;
  }
  .najlepiej-content img {
    max-width: 70%;
  }
  .najlepiej-content {
    right: 30px;
    text-align: right;
  }
}

@media (max-width: 1110px) {
  .section1-1317 ul li {
    width: 40%;
    padding-bottom: 15px;
  }
  .footer-nav ul {
    text-align: center;
  }
}

@media (max-width: 1040px) {
  .section3-added-content {
    padding: 350px 0 0 0;
  }
  .section3-18more {
    background: #fcbeed top 350px right no-repeat;
  }
  .section3-18more-description .section3-18more-desc-rows {
    padding-left: 4%;
  }
  .button-container.pink-button {
    margin-left: 4%;
  }
  .section3-added-content h4 {
    line-height: 2rem;
  }
}

@media (max-width: 980px) {
  .section3-1317 ul li {
    width: calc(29% - 80px);
    padding: 0 40px;
  }
  .section4-18more ul li {
    width: calc(29% - 80px);
    padding: 0 40px;
  }
}

@media (max-width: 950px) {
  .arrow-box.middle.to-top:hover {
    bottom: 47px !important;
  }
}

@media (max-width: 940px) {
  .null-container {
    padding: 0px;
    width: 100%;
  }
}

@media (max-width: 920px) {
  section {
    padding: 70px 0;
  }
  section h2 {
    font-size: 2.6rem;
  }
  .faq-position {
    padding: 25px 3%;
    width: 94%;
  }
  .faq-question {
    padding: 0;
    width: 100%;
  }
  .faq-question-arrow {
    margin-right: -10px;
  }
  .faq-answer {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

@media (max-width: 850px) {
  .null-content {
    width: 100%;
    float: left;
    padding-right: 0;
    text-align: center;
  }

  .null-description {
    width: 80%;
    padding: 0 10%;
  }
  .section3-18more {
    background: #fcbeed top 380px right no-repeat;
  }
  .section3-added-content {
    padding: 150px 0 0 0;
  }
  section3-18more h2 {
    width: 96% !important;
    padding: 0 2% !important;
  }
  .section3-added-content-list ul li.section3-added-content-list-arrow {
    display: none;
  }
  .section3-added-content-list ul li:first-child {
    padding: 0 3% 40px 3%;
    width: 94%;
  }
  .section3-added-content-list ul li {
    padding: 0 3% 40px 3%;
    width: 94%;
  }
  .section3-added-content-list ul li:last-child {
    padding: 0 3% 40px 3%;
    width: 94%;
  }
  .section3-added-content-list2 {
    text-align: center;
  }
  .section3-added-content-list ul li p {
    padding-top: 10px;
  }
}

/* @media(max-width: 820px) {
  header {
    background: url('../img/bg-mobile.png') center center no-repeat;
    background-size: cover;
  }
  header.more18-head {
    background: url('../img/bg-18more.jpg') right -280px center no-repeat;
    background-size: cover;
  }
} */

@media (max-width: 800px) {
  .null-description {
    width: 100%;
    padding: 0 0 25px 0;
  }
}

@media (max-width: 780px) {
  .section1-1317 ul li {
    width: 49%;
    padding-bottom: 30px;
  }
  .section1-1317 ul {
    padding-bottom: 0;
  }
  .section1-1317 ul.second-list-1317 {
    padding-top: 0;
  }
  .section1-1317 ul.second-list-1317 li {
    width: 49%;
    padding-bottom: 30px;
  }
  .section1-1317-sep1 {
    display: none;
  }
}

@media (max-width: 770px) {
  .faq-question {
    font-size: 1rem;
  }
  .faq-answer {
    font-size: 1rem;
  }
  section h2 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding-bottom: 25px;
  }
  .section5-18more ul {
    padding-top: 40px;
  }
}

@media (max-width: 760px) {
  .section3-1317 ul {
    padding-bottom: 30px;
  }
  .section3-1317 ul li {
    width: 100%;
    padding: 40px 0;
    min-height: auto;
    border-right: 0;
    border-bottom: 1px solid rgba(82, 84, 85, 0.5);
  }
  .section3-1317 ul li p {
    padding-top: 10px;
  }
  .section4-18more ul {
    padding-bottom: 30px;
  }
  .section4-18more ul li {
    width: 100%;
    padding: 40px 0;
    min-height: auto;
    border-right: 0;
    border-bottom: 1px solid rgba(82, 84, 85, 0.5);
  }
  .section4-18more ul li p {
    padding-top: 10px;
  }
}

@media (max-width: 720px) {
  header {
    min-height: 650px;
  }
  .header-description {
    padding-top: 40px;
  }
  .najlepiej-content {
    bottom: 200px;
    top: inherit;
    right: calc(50% - 170px);
  }
  .button-container.top {
    padding-top: 180px;
    text-align: center;
  }
  .section3-added-content-list ul {
    padding-bottom: 0;
  }
  .section3-added-content {
    padding: 280px 0 0 0;
  }
  .section3-18more {
    background: #fcbeed top 470px right no-repeat;
  }
}

@media (max-width: 707px) {
  .head-ages span.desktop-sp {
    display: none;
  }

  .head-ages span.mobile-sp {
    display: block;
  }
  .head-ages span {
    padding-right: 35px;
  }
  .head-ages {
    padding-top: 0;
  }
}

@media (max-width: 680px) {
  .section5-18more ul li {
    width: 90%;
    padding: 0 5% 40px 5%;
  }
  .section5-18more ul li .section5-list-img {
    padding-right: 30px;
    width: 110px;
  }
  .section5-18more ul li .section5-list-img img {
    width: 110px;
  }
  .section5-18more ul li .section5-list-text {
    width: calc(100% - 140px);
  }
  .section5-18more ul li .section5-list-text h3 {
    font-size: 1.7rem;
    padding-bottom: 15px;
  }
  .section5-18more ul li .section5-list-text p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 630px) {
  .null-description span.line1 {
    padding-left: 60px;
    background-size: 54px auto;
    background: url("../img/line1-mobile.png") left no-repeat;
    width: calc(100% - 60px);
  }

  .null-description span.line2 {
    padding-left: 84px;
    background-size: 80px auto;
    background: url("../img/line2-mobile.png") left no-repeat;
    width: calc(100% - 84px);
  }

  .null-description span.line3 {
    padding-left: 104px;
    background-size: 100px auto;
    background: url("../img/line3-mobile.png") left no-repeat;
    width: calc(100% - 104px);
  }

  .null-description span.line4 {
    padding-left: 125px;
    background-size: 120px auto;
    background: url("../img/line4-mobile.png") left no-repeat;
    width: calc(100% - 125px);
  }

  .null-description span.line5 {
    padding-left: 145px;
    background-size: 142px auto;
    background: url("../img/line5-mobile.png") left no-repeat;
    width: calc(100% - 145px);
  }
}

@media (max-width: 620px) {
  .faq-question br {
    display: block;
  }
  section h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 25px;
  }
}

@media (max-width: 610px) {
  .section2-1317 h3 {
    font-size: 1rem;
  }
  .section2-18more h3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .section1-18more ul {
    padding: 0;
  }

  .section1-18more-sep1 {
    display: none;
  }
  .section1-18more ul li {
    width: 100%;
    padding: 30px 0;
    height: auto;
    background: url("../img/separator1-18more.png") bottom center no-repeat;
    background-size: 100% auto;
  }
  .section1-18more ul li:last-child {
    width: 100%;
  }
  .third-list-18more li:last-child {
    background: none;
  }
  .section1-18more ul li img {
    width: 18%;
  }
  .section1-18more ul li p {
    vertical-align: top;
  }
}

@media (max-width: 580px) {
  .header-description .header-desc-rows {
    font-size: 1.4rem;
    height: 45px;
    line-height: 45px;
  }
  .najlepiej-content img {
    max-width: 60%;
  }
  .najlepiej-content {
    right: calc(50% - 120px);
    bottom: 235px;
  }
}

@media (max-width: 570px) {
  .section1-1317 ul li {
    width: 100%;
    padding-right: 0;
    background: url("../img/separator1-1317.png") bottom center no-repeat;
    background-size: 100% auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section1-1317 ul.second-list-1317 li {
    width: 100%;
    padding-right: 0;
    background: url("../img/separator1-1317.png") bottom center no-repeat;
    background-size: 100% auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section1-1317 ul.second-list-1317 {
    padding-bottom: 30px;
  }
  .section1-1317 ul.second-list-1317 li:last-child {
    background: none;
  }
}

@media (max-width: 470px) {
  .footer-nav ul li {
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .footer-nav {
    padding: 40px 0 15px 0;
  }
  .footer-nav ul li {
    padding-bottom: 5px;
  }

  .arrow-box.middle.to-top:hover {
    bottom: 115px !important;
  }
  .null-description span br {
    display: block;
  }

  .null-description span {
    line-height: 1.3rem;
  }
  .section3-added-content {
    padding: 270px 0 0 0;
  }
  .section3-18more-description .section3-18more-desc-rows {
    font-size: 1.6rem;
    height: 50px;
    line-height: 50px;
    padding-right: 20px;
  }
  .section3-18more {
    background: #fcbeed top 370px right no-repeat;
  }
  .section3-18more-description {
    padding-bottom: 30px;
  }
}

@media (max-width: 423px) {
  .head-ages {
    width: 55%;
  }
  .head-logo {
    width: 45%;
  }
}

@media (max-width: 420px) {
  header {
    min-height: 700px;
  }
  .header-description .header-desc-rows {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
  }
  .najlepiej-content img {
    max-width: 70%;
  }
  .najlepiej-content {
    bottom: 175px;
    right: calc(50% - 100px);
  }
  .button-container.top {
    padding-top: 220px;
  }
  .head-ages ul li {
    font-size: 0.7rem;
    line-height: 40px;
    height: 40px;
  }
  .head-ages ul li a {
    height: 40px;
  }
  .head-ages ul {
    height: 40px;
  }
  .head-ages span {
    padding-right: 20px;
  }
  footer p {
    font-size: 0.7rem;
  }
  .najlepiej-content {
    bottom: 272px;
  }
}

@media (max-width: 360px) {
  header {
    /* background: url('../img/bg-mobile.png') center center no-repeat; */
    background-size: cover;
  }
  .head-ages ul li:first-child {
    padding-right: 10px;
  }
  .head-ages ul li:last-child {
    padding-left: 10px;
  }
  .head-ages span {
    font-size: 0.8rem;
    height: 39px;
    line-height: 48px;
  }
  header .head-logo .logo-img {
    width: 60%;
    margin-top: 25px;
  }
  .section1-1317 ul li img {
    width: 20%;
  }
  .section1-1317 ul li p {
    vertical-align: top;
  }
  .section1-1317 ul li {
    padding-bottom: 26px;
  }
  .section1-1317 ul.second-list-1317 li {
    padding-bottom: 26px;
  }
  .section1-18more ul li img {
    width: 24%;
  }
  .section1-18more ul li p {
    font-size: 0.8rem;
    vertical-align: middle;
  }
  .section5-18more ul li .section5-list-text h3 {
    font-size: 1.4rem;
  }
  .section5-18more ul li .section5-list-text p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .section5-18more ul li .section5-list-img {
    width: 90px;
  }
  .section5-18more ul li .section5-list-img img {
    width: 90px;
  }
  .section5-18more ul li .section5-list-text {
    width: calc(100% - 120px);
  }
  section h2 br {
    display: none;
  }
  section h2 {
    font-size: 1.6rem;
  }
  .head-ages ul li:first-child {
    padding-right: 0;
  }
  .head-ages ul li:last-child {
    padding-left: 0;
  }
}

@media (max-width: 350px) {
  .section3-added-content {
    padding: 340px 0 0 0;
  }
  .section3-18more {
    background: #fcbeed top 430px right no-repeat;
  }
  .section3-18more-description .section3-18more-desc-rows {
    font-size: 1.2rem;
  }
}

@media (max-width: 340px) {
  .najlepiej-content {
    right: calc(50% - 85px);
    bottom: 272px;
  }
}

@media (max-width: 325px) {
  .faq-question {
    font-size: 0.8rem;
  }
  .faq-answer {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .head-ages {
    width: 60%;
  }
  .head-logo {
    width: 40%;
  }
}

@media (max-width: 310px) {
  .null-description span {
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .header-description .header-desc-rows {
    font-size: 0.8rem;
  }
}
